@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_Layout";
}





@model IEnumerable<Projekt> 

<div class="container">
    @if (Model != null)
    {
        @foreach (var projekt in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@projekt.Titel</h5>
                    <p class="card-text">@projekt.Beskrivning</p>
                    <!-- Lägg till mer information om projektet här, använder data från modellen -->
                </div>
            </div>
        }
    }
    else
    {
        <p>Inga projekt att visa.</p>
    }
</div>

