﻿@* Views/CV/ResourceNotFound.cshtml *@
@{
    Layout = "_Layout";
}

<h2>Error</h2>
<p>Detta är inte ditt projekt, du har därför inte tillåtelse att ändra information</p> <!-- Meddelande som visas när en användare försöker ändra ett projekt de inte har behörighet till -->
<a href="@Url.Action("ProjectPage", "Projekt")">Återgå till projektsidan</a> <!-- Länk för att navigera tillbaka till projektsidan -->
