@model CVModels.ViewModels.EditPasswordViewModel

@{
    ViewBag.Title = "Ändra lösenord";
}
<div asp-validation-summary="All" class="text-danger"></div>
<main role="main" class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6">
            <h2>Ändra lösenord</h2>
            <form asp-controller="Account" asp-action="EditPassword" method="post">
                <!-- Lägg till ett fält för nuvarande användarens lösenord -->
                <div class="mb-3">
                    <label asp-for="NuvarandeLösenord" class="form-label">Nuvarande lösenord</label>
                    <input asp-for="NuvarandeLösenord" class="form-control" placeholder="Nuvarande lösenord" type="password">
                </div>
                <!-- Lägg till fält för det nya lösenordet -->
                <div class="mb-3">
                    <label asp-for="NyttLösenord" class="form-label">Nytt lösenord</label>
                    <input asp-for="NyttLösenord" class="form-control" placeholder="Nytt lösenord" type="password">
                </div>
                <!-- Lägg till fält för att bekräfta det nya lösenordet -->
                <div class="mb-3">
                    <label asp-for="BekräftaNyttLösenord" class="form-label">Bekräfta nytt lösenord</label>
                    <input asp-for="BekräftaNyttLösenord" class="form-control" placeholder="Bekräfta nytt lösenord" type="password">
                </div>
                <button type="submit" class="btn btn-primary">Spara lösenord</button>
            </form>
        </div>
    </div>
</main>
