@model LoginViewModel

@{
    ViewBag.Title = "Logga in";
}
<div asp-validation-summary="All" class="text-danger"></div>
<main role="main" class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6">
            <h2>Logga in</h2>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Användarnamn</label>
                    <input asp-for="UserName" class="form-control" id="userNameInput" placeholder="Användarnamn">
                </div>
                <div class="mb-3">
                    <label asp-for="Lösenord" class="form-label">Lösenord</label>
                    <input asp-for="Lösenord" type="password" class="form-control" id="passwordInput" placeholder="Lösenord">
                </div>
                <button type="submit" class="btn btn-primary">Logga in</button>
                <div class="mt-3">
                    <a href="@Url.Action("EditPassword", "Account")" class="btn btn-link">Glömt lösenordet?</a>
                    <a href="@Url.Action("RegisterUser", "Account")" class="btn btn-secondary">Registrera användare</a>
                </div>
            </form>
        </div>
    </div>
</main>
