@{
    Layout = "_Layout";
}
<h1>Ändringen av lösenordet lyckades</h1>
<p>
    <!-- Länk som leder till startsidan (Index) i Home-controller -->
    <a asp-action="Index" asp-controller="Home">Gå till hemsidan</a>
</p>