@model CVModels.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Register new user";
}

<div asp-validation-summary="All" class="text-danger"></div>

<main role="main" class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6">
            <h2>Registrera en ny användare</h2>
            <form asp-controller="Account" asp-action="RegisterUser" method="post">
                <!-- Input-fält för e-post -->
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-post:</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <!-- Input-fält för lösenord -->
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Lösenord:</label>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>
                <!-- Input-fält för att bekräfta lösenord -->
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Bekräfta lösenord:</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                </div>
                <!-- Knapp för att skicka formuläret för registrering -->
                <button type="submit" class="btn btn-primary">Registrera</button>
            </form>
        </div>
    </div>
</main>
