@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen till startsidan!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
        body {
            
            text-align: center;
        }

        .jumbotron {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-color: #e9ecef;
            border-radius: 0.3rem;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Välkommen till startsidan!</h1>
            <p>Här kommer ett urval av CV.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>CV 1 - August</h2>
                <button type="submit" class="btn-profil-knapp">August profil</button>
            </div>
            <div class="col-md-6">
                <h2>CV 2 - Erik</h2>
               <button type="submit" class="btn-profil-knapp">Eriks profil</button>
            </div>
            <div class="col-md-6">
                <h2>CV 3 - Hugo</h2>
                <button type="submit" class="btn-profil-knapp">Hugos profil</button>
            </div>
            <div class="col-md-6">
                <h2>CV 4 - Niclas</h2>
                <button type="submit" class="btn-profil-knapp">Niclas profil</button>
            </div>
            <div class="col-md-6">
                <h2>CV 5 - Victor</h2>
                <button type="submit" class="btn-profil-knapp">Victors profil</button>
            </div>
        </div>

        <div>
            <h3>Det senast upplagda projektet</h3>
            <h4>Projekt rubrik</h4>
            <p>Beskrivning på projektet</p>
            <button type="submit" class="btn-profil-knapp">Länk till projektet</button>
        </div>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



