@using CVModels.ViewModels
@model AnvändareCVViewModel

<h2>@Model.Namn's CV</h2>
<!-- Innehållet i CV:t presenteras här -->
@foreach (var användare in Model.Användare)
{
    <div>
        <h3>@användare.Namn</h3>
        <a href="@Url.Action("VisaAnvändaresCV", "CV", new { id = användare.Id })" class="btn btn-primary">Visa CV</a>


    </div>
}



}