@{
    Layout = "_Layout";    // Använder huvudlayouten för webbplatsen
}

<!-- Rubrik som informerar användaren om att meddelandet har skickats -->
<h1>Meddelandet har skickats!</h1>


<!-- En länk för att återgå till hemsidan -->
<p><a asp-action="Index" asp-controller="Home">Gå till hemsidan</a></p>