@{
    Layout = "_Layout"; // Använder huvudlayouten för webbplatsen
}

<!-- Rubrik som informerar användaren om att meddelandet inte kunde skickas -->

<h1>Meddelandet har inte skickats, krävs ett meddelande och ett namn!</h1>

<!-- En länk för att återgå till hemsidan -->
<p><a asp-action="Index" asp-controller="Home">Gå till hemsidan</a></p>